# Archives #
############
*.tar
*.zip
!CAEN_Control_Software.zip

# Back-Up Files #
#################
*~

# Binary Files #
################
*.DS_Store
*TestDAQ
*TestIO
*TestTDC
*TestTDC1200ns
*TestTDC500ns
*TestTDC_Stop
*a.out

# Compiled source #
###################
cosmicStandTDCDAQ
*.o
*.so

# Misc #
########
Makefile.old
scripts/setupCosmicDAQ_local.sh

# PDF FILES #
#############
*.pdf

# ROOT Files #
##############
*.raw
*.root
data/
data/*
data_store/
data_store/*

# Text Files #
##############
#lists_runs/*.txt
!README.txt
!lists_runs/RunList_2015.txt
*.txt
